@page "/"

<PageTitle>Home</PageTitle>

<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Привет,<br>автолюбитель!</h1>
                <p>Добро пожаловать на наш сайт, созданный специально для тех, кто любит автомобили самых разных классов! Здесь вы найдете таких же любителей авто как вы!</p>
            </div>
            <div class="col">
                <img src="https://github.com/Fiinee/Apirep/blob/main/img/im.jpg?raw=true" alt="...">
            </div>
        </div>
        <div class="row cards">
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <!-- here is where they add the ICON -->
                        <img src="https://github.com/Fiinee/Apirep/blob/main/img/trainimg.jpg?raw=true" alt="..." class="icon">
                        <h5 class="card-title">События</h5>
                        <p class="card-text">Ближайшие ивенты среди наших участников!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <!-- here is where they add the ICON -->
                        <img src="https://github.com/Fiinee/Apirep/blob/main/img/image.png?raw=true" alt="..." class="icon">
                        <h5 class="card-title">Новости</h5>
                        <p class="card-text">Новинки среди автопрома!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <!-- here is where they add the ICON -->
                        <img src="https://github.com/Fiinee/Apirep/blob/main/img/tourimage.jpg?raw=true" alt="..." class="icon">
                        <h5 class="card-title">Поездки</h5>
                        <p class="card-text">Бесплатные поездки среди участников в разные места!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about-us">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <!-- another image can be inserted here -->
                <img src="https://github.com/Fiinee/Apirep/blob/main/img/aa.jpg?raw=true" alt="..." class="img-fluid" />
            </div>
            <div class="col">
                <h1>Кратко о проекте</h1>
                <p>"Проект "Би-Би, не шаги!" предлагает уникальную возможность для любителей автомобилей делиться эмоциями,опытом,скоростью. Мы объединяем предложения по ивентам в различных городах без учета финансов(только бензин). Для настоящих ценителей авто важнее его потраченного бензина.</p>
                <p>
                    Наш сайт позволяет вам объединиться в группы на основе общих интересов, чтобы вы могли делиться своими знаниями и опытом в области авто. Узнавайте, катайтесь и самое главное - живите эту жизнь на полную!
                </p>
                <button type="button">Подробнее</button>
            </div>
        </div>
    </div>
</section>
<section id="contact">
    <div class="container">
        <div class="row align-items-center projects">
            <div class="col">
                <h1>Я люблю авто!</h1>
                <p>=D</p>
            </div>
        </div>
    </div>
</section>